body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato Bold', sans-serif;
  font-style: normal;
  max-width: 1248px;
  min-height: 100%;
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 1248px;
  background-color: #304571;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
}

img[alt] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
}

@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lato-bold.woff2') format('woff2'), url('./fonts/lato-bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato Extra Bold';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/lato-extrabold.woff2') format('woff2'), url('./fonts/lato-extrabold.woff') format('woff');
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: block;
  padding: 14px 39px 14px 39px;
  width: 191px;
  height: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #EBFF00;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #EBFF00;
  border-radius: 100px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 26px 80px 22px 80px;
  width: 1248px;
  background-color: #000000;
}

.main-nav {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__toggle { 
  position: absolute;
  top: -30px;
  right: -6px;
  z-index: 1;
  width: 35px;
  height: 25px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 24px;
  height: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 0 0 #FFFFFF, 0 14px 0 0 #FFFFFF;
}

@media (max-width: 360px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (max-width: 360px) {
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 11px;
    right: -18px;
    left: -20px;
    z-index: 3;
    padding: 0;
    min-height: 200px;
    background-color: #FFFFFF;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  padding: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  top: -34px;
  right: -7px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 30px;
    height: 2px;
    background-color: #FFFFFF;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 431px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.site-list__link {
  position: relative;
  display: block;
  padding: 22px 22px 23px;
  text-decoration: none;
  text-align: center;
}

.promo__wrapper {
  width: 1242px;
  height: 490px;
  background-image: url('img/promo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
}

.offers__list {
  display: grid;
  grid-template-columns: 524px 524px;
  grid-template-rows: 350px 350px 357px;
  gap: 40px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.offers-list__item {
  padding: 30px 90px 30px 30px;
}

.item__content {
  display: grid;
  grid-template-rows: max-content 30px 50px;
  justify-items: start;
  gap: 20px;
  box-sizing: border-box;
}

.item-content:nth-child(even) {
  background-color: #000000;
  color: #FFFFFF;
}

.offers-list__item:nth-child(1) {
  grid-column: 1/-1;
  width: 1088px;
  height: 350px;
  background-image: url('img/item_one.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  border-radius: 10px;
}

.offers-list__item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 524px;
  height: 350px;
  background-image: url('img/item_two.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  border-radius: 10px;
}

.offers-list__item:nth-child(2) .item__heading {
  font-size: 46px;
  line-height: 46px;
}

.offers-list__item:nth-child(3) .item__heading {
  font-size: 46px;
  line-height: 46px;
}

.offers-list__item:nth-child(2) .item__text {
  font-size: 24px;
  line-height: 29px;
}

.offers-list__item:nth-child(3) .item__text {
  font-size: 24px;
  line-height: 29px;
}

.offers-list__item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 524px;
  height: 350px;
  background-image: url('img/item_three.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  border-radius: 10px;
}

.offers-list__item:nth-child(4) {
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 1088px;
  height: 350px;
  background-image: url('img/item_four.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  border-radius: 10px;
}

.item__heading {
  grid-row: 1/2;
  margin: 0;
  padding-right: 110px;
  font-size: 74px;
  line-height: 74px;
  text-align: start;
}

.item__heading:nth-child(2) {
  font-size: 46px;
  line-height: 46px;
}

.item__heading:nth-child(2) {
  font-size: 46px;
  line-height: 46px;
}

.item__text {
  grid-row: 2/3;
  margin: 0;
  font-size: 26px;
  line-height: 31px;
  text-align: start;
}

.item__button {
  grid-row: 3/4;
}

.footer__wrapper {
  background-color: #000000;
}